#tabs{
    display: flex;
    gap: 20px;
}
.tab{
    padding :12px;
    background-color: rgb(240, 244, 234);
    border-radius: 4px;
    border: 2px solid;
    font-weight: 700;
}
body{
    padding: 20px;
}
h3{
    display: none;
}